/* default */
*{
    font-family: 'Noto Sans TC', sans-serif;
    outline: none !important;
}
a{ 
    color: inherit !important; 
} 
#page-wrapper{
    width: 100%;
    overflow-x: hidden;
}

/* header */
header{
    position: fixed;
    z-index: 1;
}
.absolute-header{
    position: absolute;
    top: 358px;
}
header .container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

/* banner */
.title_layer{
    width: 100%;
}
.banner{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130092948_aUlRY/jpg);
    background-size: cover;
    background-position: 15% 100%;
}
.banner .logo{
    width: 8%;
    position: absolute;
    top: 20px;
    left: 110px;
    z-index: 2;
}
.video-wrap {
    position: relative;
    height: 100%;
}
.video-wrap #player {
    width: 110vw;
    height: 61.875vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}
.video-wrap #player.loaded {
    opacity: 1;
}
.banner .title_layer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* menu */
#menu{
    background-color: white;
    height: 80px;
    color: #cccc;
}
.fix-menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.fix-menu + #basic-info {
    padding-top: 80px;
}
#menu .container{
    width: 100%;
    height: 100%;
}
#menu ul{
    padding: 10px 100px;
}
#menu ul li{
    float: left;
    list-style: none;
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 2.2;
    margin: 10px 30px;
}
#menu ul li:hover{
    color: #26bec9;
}
#menu ul li a{
    text-decoration: none;
}
#menu .logo{
    width: 50%;
}
.area:not(#menu):not(#season){
    padding-bottom: 100px;
}
.toggle-menu{
    display: none;
}

/* basic-info */
#basic-info{
    position: relative;
}
#basic-info .half-bg{
    width: 100%;
    height: 58vh;
    background-color: #26bec9;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#basic-info .container{
    width: 100%;
    color: #565656;
}
#basic-info h2{
    color: #26bec9;
}
.intro{
    margin-bottom: 100px;
}
.intro-pic{
    float: left;
    width: 50%;
    height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    margin-left: -15px;
}
.intro-text{
    float: left;
    width: 50%;
    padding: 60px 125px;
    letter-spacing: 3px;
}
.intro-text p{
    line-height: 2.5;
}
#basic-info ul{
    padding: 0px 100px;
    color: white;
}
#basic-info ul li{
    list-style: none;
    float: left;
    width: 15%;
    text-align: center;
    margin: 0px 29px;
}
#basic-info ul li img{
    width: 30%;
    margin-bottom: 10px;
}
#basic-info ul li p{
    line-height: 1.5;
    font-weight: 200;
    letter-spacing: 3px;
}

/* top5 */
#top5{
    position: relative;
}
#top5 .half-bg{
    width: 100%;
    height: 50vh;
    background-color: #26bec9;
    position: absolute;
    top: 0;
    left: 0;
}
#top5 .title-img{
    width: 60%;
    position: absolute;
    top: 1%;
    left: 0;
}
.cascading-tab{
    width: 100%;
    margin-top: 140px;
    position: relative;
}
.category{
    width: 7%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    float: left;
    transition: all .5s;
    position: relative;
}
.category.active{
    width: 86%;
}
.category::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, black, transparent);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}
.category.active::before{
    display: none;
}
.category::after{
    content: '';
    width: 0px;
    height: 0px;
    border-top: 20px solid rgba(0, 0, 0, 0.5);
    border-bottom: 0px solid transparent;
    border-right: 20px solid transparent;
    border-left: 0px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: rotate(225deg);
    display: none;
}
.category.active::after{
    display: block;
}
.tab-title{
    writing-mode: vertical-rl;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 5px;
    text-shadow: -3px 3px 2px rgba(0,0,0,0.3);
    position: relative;
    top: 50px;
    left: 22px;
}
.tab-title.active{
    writing-mode: horizontal-tb;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 8px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    position: relative;
    top: 35px;
    left: 40px;
}
#top5 .tab-content{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px 30% 30px 30px;
    display: none;
}
#top5 .tab-content.active{
    display: block;
}
#top5 .tab-content::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #28607f, transparent);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}
#top5 .tab-content h3, #top5 .tab-content p{
    position: relative;
}
h3{
    letter-spacing: 2px;
}
.cascading-tab-content{
    margin-top: 20px;
    color: white;
    width: 100%;
}
.ctg-content-area{
    display: none;
}
.ctg-content-area.active{
    display: block;
}
.ctg-content{
    width: 49.5%;
    height: 350px;
    float: left;
    padding: 25.5% 20px 10px 20px;
    margin: 5px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.ctg-content::before{
    content: '';
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, #28607f, transparent);
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s;
}
.ctg-content.active::before{
    height: 100%;
}
.ctg-content h3, .ctg-content p{
    position: relative;
}

/* transport */
#transport{
    position: relative;
    color: white;
}
#transport .container{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
#transport .title-img{
    width: 100%;
    position: absolute;
    top: 4%;
    left: 0;
    z-index: -1;
}
#transport .title-img.mobile{
    display: none;
}
#transport .slide-window{
    margin-top: 125px;
}
#transport .slide-window .button{
    float: left;
    width: 33.3%;
    padding: 15% 0%;
    text-align: center;
    position: relative;
    overflow: hidden;
}
#transport .slide-window .button .content{
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 1;
}
#transport .slide-window .button .content h3{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5)
}
#transport .slide-window .button .content img{
    width: 35%;
}
#transport .slide-window .button::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}
#transport .slide-window .btn01::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130101058_9TnVI/jpg);
}
#transport .slide-window .btn02::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130101103_zn60W/jpg);
    background-position: 55% center;
    background-size: 150%;
}
#transport .slide-window .btn03::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130101426_C40nq/jpg);
}
#transport .slide-window .button::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s;
    display: none;
}
#transport .slide-window .button:hover:before{
    transform: scale(1.2);
}
#transport .slide-window .button:hover:after{
    display: block;
}
/* arrow effect */
.the-arrow {
    width: 1px;
    transition: all 0.2s;
}
.the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
}
.the-arrow.-left > .shaft {
    width: 0;
    background-color: white;
    margin-left: -25px;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
    width: 0;
    background-color: white;
}
.the-arrow.-left > .shaft:before {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}
.the-arrow.-left > .shaft:after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}
.the-arrow.-right {
    top: 1px;
}
.the-arrow.-right > .shaft {
    width: 1px;
    transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}
.the-arrow.-right > .shaft:after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}
.the-arrow > .shaft {
    background-color: white;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
    background-color: white;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}
.the-arrow > .shaft:before {
    -webkit-transform-origin: top right;
            transform-origin: top right;
}
.the-arrow > .shaft:after {
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
}

.animated-arrow {
    display: inline-block;
    color: white;
    text-decoration: none !important;
    position: relative;
    transition: all 0.2s;
}
.slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: #f2f2f2;
}
.slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft:before{
    width: 8px;
    transition-delay: 0.1s;
    background-color: #f2f2f2;
}
.slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft:before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
}
.slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft:after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}
.slide-window .button:hover .animated-arrow > .main {
    -webkit-transform: translateX(17px);
            transform: translateX(17px);
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
}
.slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft {
    width: 0;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    transition-delay: 0;
}
.slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft:before, 
.slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft:after{
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}
.slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft:before {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}
.slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft:after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}
.slide-window .button:hover .animated-arrow > .main > .text{
    display: none;
}
.animated-arrow > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.animated-arrow > .main > .text {
    margin: 0 16px 0 0;
    line-height: 1;
    letter-spacing: 2px;
}
.animated-arrow > .main > .the-arrow {
    position: relative;
}
/* arrow effect end */

/* modal animated */
#transport .modal-dialog {
    width: 99% !important;
    margin: 30px auto 0px auto !important;
}
#transport .modal-content {
    background-color: rgba(38,190,201,0.9) !important;
}
#transport .modal-header{
    background-color: rgba(22,122,127,0.9);
    border-bottom: none !important;
}
#transport .modal-header img{
    width: 50px;
    float: left;
}
#transport .modal-header h4{
    float: left;
    margin:  2px 0px 0px 10px;
    font-size: 32px;
    letter-spacing: 5px;
}
#transport .modal-header .close {
    color: white !important;
}
.close {
    font-size: 36px !important;
    opacity: .8 !important;
}
#transport .modal-body{
    padding: 50px 0px;
    text-align: center;
}
#transport .modal-body h5{
    font-size: 22px;
    letter-spacing: 5px;
    margin: 80px 0px 50px 0px;
}
#transport .modal-body .map{
    width: 60%;
}
#transport .modal-body ul{
    list-style-type: none;
    text-align: left;
    display: inline-block;
    width: 35%;
    line-height: 1.5;
    letter-spacing: 3px;
    font-weight: 200;
}
#transport .modal-body ul li{
    margin: 20px 0px;
}
#transport .modal-body ul li span{
    border: 1px solid white;
    padding: 2px 5px;
    border-radius: 4px;
}
#transport .modal-body .row{
    width: 50%;
    margin: auto;
    padding-top: 50px;
}
#trans03 .modal-body .row {
    width: 70%;
}
#transport .modal-body .product{
    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    border-radius: 4px; 
    position: relative;
    overflow: hidden;
}
#transport .modal-body .product::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}
#transport .modal-body .p01::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130082621_1do60/jpeg);
}
#transport .modal-body .p02::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130082625_CIBuW/jpeg);
}
#transport .modal-body .p03::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130082616_PdsMz/jpeg);
}
#transport .modal-body .p04::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130082649_n6Mab/jpeg);
}
#transport .modal-body .p05::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130082632_DuiA9/jpeg);
}
#transport .modal-body .p06::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130082628_pxAFa/jpeg);
}
#transport .modal-body .p07::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130082636_fpg5o/jpeg);
}
#transport .modal-body .product:hover:before{
    transform: scale(1.2);
}
#transport .modal-body .product .tag{
    width: 100px;
    height: 100px;
    background-color: #ffef2e;
    transform: rotate(45deg);
    position: absolute;
    left: -50px;
    top: -50px;
}
#transport .modal-body .product .tag span{
    color: #1ca2a5;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
    transform: rotate(-90deg);
    position: absolute;
    top: 38px;
    left: 62px;
}
#transport .modal-body .product .content{
    width: 100%;
    padding: 20px 30px;
    letter-spacing: 3px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
#transport .modal-body .product .content::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #28607f, transparent);
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#transport .modal-body .product .content .title{
    float: left;
    font-size: 16px;
    text-align: left;
    margin-top: 5px;
}
#transport .modal-body .product .content .call-to-action{
    float: right;
    font-size: 14px; 
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px 12px;
    transition: all .5s;
}
#transport .modal-body .product:hover .content > .call-to-action{
    background-color: white;
    color: #26bec9;
}
#transport .modal-footer{
    border-top: none !important;
}
#transport .btn-default, #expert .btn-default{
    background-color: transparent;
    border-color: transparent;
    width: 10%;
}
#transport .btn-default img, #expert .btn-default img{
    width: 50%;
}
/* picture gallery */
.picture-gallery{
    width: 50%;
    margin: auto;
    padding-bottom: 130px; 
}
.picture-gallery .carousel-inner {
    border-radius: 4px;
}
.picture-gallery .carousel-caption{
    left: 0 !important;
    bottom: 0 !important;
    width: 100%;
    text-align: left !important;
    padding: 20px !important;
}
.picture-gallery .carousel-caption::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #28607f, transparent);
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.picture-gallery .carousel-caption h3{
    font-size: 20px !important;
}
.picture-gallery .carousel-indicators {
    width: 100% !important;
    position: absolute;
    bottom: -115px !important;
    left: 30% !important;
}
.picture-gallery .carousel-indicators .active{
    background-color: transparent !important;
    border: 2px solid white !important;
}
.picture-gallery .carousel-indicators li {
    display: inline-block;
    width: 90px !important;
    height: 80px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    margin: 0px 2px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* video playlist */
#transport .video{
    background-color: #26bec9;
    height: 550px;
}
.video-content{
    padding: 100px 100px;
}
.video-content .player{
    float: left;
    width: 55%;
}
.video-content .player iframe{
    width: 616px;
    height: 346.5px;
}
.video-content .playlist{
    float: left;
    width: 45%;
}
.video-content .playlist ul{
    list-style: none;
    padding-inline-start: 0px;
}
.video-content .playlist ul li{
    font-size: 18px;
    line-height: 1.5;
    margin: 25px 0px;
    padding-left: 10px;
    border-left: 3px solid white;
    opacity: 0.6;
}
.video-content .playlist ul li:hover{
    opacity: 1;
}
.video-content .playlist ul li p{
    float: left;
    margin: 0;
}
.video-content .playlist ul li i{
    float: right;
    margin-top: 10px;
}


/* theme */
#theme{
    position: relative;
}
#theme .container{
    width: 100%;
    padding: 0;
}
#theme .tab-area{
    margin-top: 100px;
}
#theme .title-img{
    width: 75%;
    position: absolute;
    top: -4.09%;
    left: -1%;
}
/* tab */
#theme .nav-tabs {
    border-bottom: none !important;
    width: 80%;
    margin: auto;
}
#theme .nav-tabs > li{
    width: 23%;
    height: 250px;
    margin: 0% 1%;
}
#theme .nav-tabs > li > a{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: none !important;
    border-radius: 4px !important;
    padding: 45% 0 !important;
    color: white !important;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    text-align: center;
    letter-spacing: 3px;
    font-size: 18px;
    position: absolute;
    z-index: 1;
}
#theme .nav-tabs > li > a::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(16, 26, 38, 0.3);
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}
#theme .nav-tabs > li > a > span{
    padding-bottom: 5px;
}
#theme .nav-tabs > li > a:hover span, #theme .nav-tabs > li.active > a > span{
    border-bottom: 1px solid white;
}
#theme .nav-tabs > li > a:hover:before, #theme .nav-tabs > li.active > a::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(16, 26, 38, 0.7);
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* collapse */
#theme .desciption{
    text-align: center;
    padding: 50px 100px;
    letter-spacing: 3px;
    line-height: 2;
    width: 80%;
    margin: auto;
}
#theme .panel-group{
    width: 80%;
    margin: auto;
}
#theme .panel-group .panel {
    border-radius: 0px !important;
    border: none !important;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px !important;
}
#theme .panel-default {
    border-color: transparent !important;
}
#theme .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent !important;
}
#theme .panel-heading{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px !important;
    padding: 0 0 0 0 !important;
}
#theme .panel-heading a{
    color: white !important;
    text-decoration: none !important;
    position: relative;
    display: block;
    overflow: hidden;
}
#theme .panel-heading a:hover{
    color: white !important;
    text-decoration: none !important;
    position: relative;
}
.arrow-down{
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(225deg);
    position: absolute;
    bottom: 25px;
    left: 1090px;
    z-index: 1;
    transition: all .5s;
}
#theme .panel-heading a ul{
    list-style: none;
    padding-left: 0px;
}
#theme .panel-heading a ul li{
    float: left;
    margin: 0px 5px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0px 5px;
    font-weight: 300;
    letter-spacing: 3px;
}
#theme .panel-heading .content{
    height: 250px;
    padding: 15% 15px 10px 15px;
    position: relative;
    z-index: 1;
}
#theme .panel-heading .content h3{
    font-size: 18px !important;
    font-weight: 400 !important;
    letter-spacing: 3px;
}
#theme .panel-heading .content p{
    width: 80%;
    letter-spacing: 3px;
    line-height: 1.5;
    padding: 10px;
}
#theme .panel-heading .content::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #28607f, transparent);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
}
#theme .panel-body{
    padding: 80px !important;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #333333;
    position: relative;
}
#theme .panel-body .description{
    border-left: 3px solid #cccccc;
    padding-left: 20px;
    margin-bottom: 30px;
}
#theme .panel-body img{
    width: 70%;
    margin: 30px 0px;
}
#theme .panel-body p{
    width: 70%;
}
#theme .panel-body .info{
    color: #26bec9 !important;
}
#theme .panel-body .more{
    border: 1px solid #262626;
    color: #262626;
    padding: 8px 10px;
    display: inline-block;
    margin-top: 20px;
    transition: all .5s;
}
#theme .panel-body .more:hover{
    text-decoration: none;
    background-color: #262626;
    color: white !important;
}
.arrow-up{
    width: 20px;
    height: 20px;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    transform: rotate(45deg);
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    transition: all .5s;
}
/* video-carousel */
.video-carousel{
    margin: 50px 0px;
}
.video-carousel .owl-carousel .item-video{
    width: 90%;
    height: 500px;
    margin: auto;
    position: relative;
}
.video-carousel .owl-carousel .item-video h3{
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 1;
    color: white;
    letter-spacing: 3px;
    line-height: 1.5;
}
.video-carousel .owl-video-wrapper{
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important; 
}
.video-carousel .owl-video-wrapper::before{
    content: '';
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to top, #28607f, transparent);
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    left: 0; 
    z-index: 0;
}
.video-carousel .owl-video-wrapper.active::before{
    display: none;
}
.video-carousel .owl-carousel .owl-video-play-icon {
    position: absolute;
    left: 90% !important;
    top: 80% !important;
}
.video-carousel .owl-carousel .owl-nav.disabled {
    display: block !important; 
}
.video-carousel .owl-carousel .owl-nav button.owl-prev, .video-carousel .owl-carousel .owl-nav button.owl-next{
    color: #e6e6e6 !important;
    font-size: 80px !important;
}
.video-carousel .owl-carousel .owl-nav button.owl-prev:hover, .video-carousel .owl-carousel .owl-nav button.owl-next:hover{
    background-color: transparent;
}
.video-carousel .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 35%;
    left: 12%;
}
.video-carousel .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 35%;
    right: 12%;
}
.choose-more{
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 3px;
    background-color: #e6e6e6;
    color: white !important;
    border-radius: 100%;
    margin: auto;
    transition: all .5s;
}
.choose-more:hover{
    text-decoration: none;
    background-color: #bfbfbf;
}

/* expert */
#expert .container{
    width: 100%;
    padding: 0;
    position: relative;
    color: white;
}
#expert .title-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#expert .title-img.mobile{
    display: none;
}
.half{
    width: 50%;
    padding: 200px 80px 150px 80px;
}
.half h3{
    display: inline-block;
    background-color: rgba(255,255,255,0.9);
    color: #26bec9;
    letter-spacing: 3px;
    padding: 10px 30px 10px 50px;
    margin-bottom: 30px;
    position: relative;
}
.half .description{
    letter-spacing: 3px;
    line-height: 1.5;
}
.half h3::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 23px solid rgba(255,255,255,0.9);
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 23px solid transparent;
    position: absolute;
    right: -46px;
    top: 0;
}
.suburbs{
    float: left;
}
.daytour{
    float: right;
}
#expert .slide-window{
    margin-top: 50px;
}
#expert .slide-window .button{
    float: left;
    width: 100%;
    padding: 15% 0%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 15px 0px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
#expert .slide-window .button .content{
    width: 65%;
    position: absolute;
    top: 25%;
    left: 20%;
    z-index: 1;
}
#expert .slide-window .button::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}
#expert .slide-window .btn01::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130091647_jUrku/jpg);
}
#expert .slide-window .btn02::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130091943_mcuSK/jpg);
}
#expert .slide-window .btn03::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130092005_pLSX1/jpg);
}
#expert .slide-window .btn04::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130092256_qLCkI/jpg);
}
#expert .slide-window .btn05::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130092311_U6lAg/jpg);
}
#expert .slide-window .btn06::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130092631_y3Luu/jpg);
}
#expert .slide-window .btn07::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130092653_IRKK4/jpg);
}
#expert .slide-window .btn08::before{
    background-image: url(https://image.kkday.com/image/get/s1.kkday.com/campaign_768/20181130092928_4LYw8/jpg);
}
#expert .slide-window .button::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(40, 96, 127, 0.3);
    transition: all .5s;
}
#expert .slide-window .button:hover:before{
    transform: scale(1.2);
}
#expert h4{
    line-height: 1.5;
    letter-spacing: 3px;
}
#expert .button h4{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#expert .animated-arrow .main .text{
    color: #b9eaea !important;
}
#expert .the-arrow > .shaft:before, #expert .the-arrow > .shaft:after {
    background-color: #b9eaea;
}
#expert .slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft {
    background-color: #b9eaea;
}
#expert .slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft:before{
    background-color: #b9eaea;
}
#expert .modal-dialog {
    width: 99% !important;
    margin: 30px auto 0px auto !important;
}
#expert .modal-header{
    border-bottom: none !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
#expert .modal-header::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(40, 96, 127, 0.3);
    z-index: 0;
}
#expert .modal-header .content{
    margin: 15% 0 20px 30px;
    position: relative;
    z-index: 1;
}
#expert .modal-header h4{
    margin:  2px 0px 0px 10px;
    font-size: 22px;
    letter-spacing: 3px;
}
#expert .modal-header ul{
    list-style: none;
    padding-left: 0px;
}
#expert .modal-header ul li{
    float: left;
    margin: 0px 5px;
    background-color: #f3ffff;
    color: #214246;
    border-radius: 4px;
    padding: 0px 5px;
    letter-spacing: 3px;
}
#expert .modal-header .close {
    color: white !important;
}
#expert .modal-body{
    padding: 80px !important;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #333333;
}
#expert .modal-body .description{
    border-left: 3px solid #cccccc;
    padding-left: 20px;
    margin-bottom: 30px;
}
#expert .modal-body img{
    width: 60%;
    margin: 30px 0px;
}
#expert .modal-body p{
    width: 60%;
}
#expert .modal-body .list{
    margin-top: 80px;
}
#expert .modal-body .more{
    border: 1px solid #262626;
    color: #262626;
    padding: 8px 10px;
    display: inline-block;
    margin-top: 50px;
    transition: all .5s;
}
#expert .modal-body .more:hover{
    text-decoration: none;
    background-color: #262626;
    color: white !important;
}
#expert .modal-body iframe{
    margin-top: 80px;
}
#expert .modal-footer{
    border-top: none !important;
}

/* season */
#season{
    position: relative;
}
#season .title-img{
    width: 100%;
    position: absolute;
    top: -10.4%;
    left: 0;
}
#season .title-img.mobile{
    display: none;
}
#season .container{
    width: 100%;
    padding-top: 100px;
    padding-right: 0px;
    padding-left: 0px;
}
#season .nav-tabs {
    border-bottom: none !important;
    width: 80%;
    margin: auto;
}
#season .nav-tabs > li{
    width: 25%;
}
#season .nav-tabs > li > a{
    border: none !important;
    text-align: center;
}
#season .nav-tabs > li > a:hover, #season .nav-tabs > li.active > a{
    background-color: transparent !important;
}
#season .nav-tabs > li > a > h3{
    color: #e6e6e6;
    font-size: 28px;
    margin-bottom: 30px;
    transition: all .5s;
}
#season .nav-tabs > #tab1_btn > a:hover h3, #season .nav-tabs > #tab1_btn.active > a > h3{
    color: #f6c8b4;
}
#season .nav-tabs > #tab2_btn > a:hover h3, #season .nav-tabs > #tab2_btn.active > a > h3{
    color: #ffce33;
}
#season .nav-tabs > #tab3_btn > a:hover h3, #season .nav-tabs > #tab3_btn.active > a > h3{
    color: #c25238;
}
#season .nav-tabs > #tab4_btn > a:hover h3, #season .nav-tabs > #tab4_btn.active > a > h3{
    color: #b0b5c8;
}
#season .nav-tabs > li > a > p{
    color: #808080;
    font-weight: 500;
}
#season .tab-content{
    margin-top: 30px;
    background-color: #26bec9; 
}
#season .tab-content .event{
    float: left;
    width: 25%;
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
#season .tab-content .event .content{
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 60%;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 100%;
    padding: 50px 30px 30px 30px;
    transition: all .5s;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.35);
}
#season .tab-content #tab2-1 .event .content{
    background-color: rgba(246,200,180,0.5);
}
#season .tab-content #tab2-2 .event .content{
    background-color: rgba(255,206,51,0.5);
}
#season .tab-content #tab2-3 .event .content{
    background-color: rgba(194,82,56,0.5);
}
#season .tab-content #tab2-4 .event .content{
    background-color: rgba(176,181,200,0.5);
}
#season .tab-content .event:hover .content{
    width: 600px;
    height: 600px;
    padding: 150px 50px 0px 50px;
    transform: translate(-20%, -60%);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
}
#season .tab-content #tab2-1 .event:hover .content{
    background-color: rgba(246,200,180,0.8);
}
#season .tab-content #tab2-2 .event:hover .content{
    background-color: rgba(255,206,51,0.8);
}
#season .tab-content #tab2-3 .event:hover .content{
    background-color: rgba(194,82,56,0.8);
}
#season .tab-content #tab2-4 .event:hover .content{
    background-color: rgba(176,181,200,0.8);
}
#season .tab-content .event .content h4{
    line-height: 1.5 !important;
    margin-bottom: 30px;
}
#season .tab-content .event .content p, #season .tab-content .event .content ul{
    width: 60%;
    margin: auto;
}
#season .tab-content .event .content ul{
    text-align: left;
    margin: 20px auto;
}

/* footer */
footer .container{
    text-align: center;
    padding: 50px 0;
}
footer .logo{
    width: 8%;
    padding: 0px 0px 30px 0px;
}
.sns{
    list-style: none;
    color: white;
    font-size: 20px;
    margin-left: 33%;
}
.sns li{
    float: left;
    border: 1px solid white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px 10px;
    margin: 0 5px;
    transition: all .5s;
}
.sns li:hover{
    background-color: white;
    color: #26bec9;
}

/* RWD */
@media (min-width: 1920px){
    /* header */
    .absolute-header{
        position: absolute;
        top: 430px;
    }
    /* menu */
    #menu ul {
        padding: 10px 330px;
    }
    /* basic-info */
    #basic-info .half-bg{
        height: 45vh;
    }
    #basic-info ul{
        padding: 0px 300px;
    }
    /* top5 */
    #top5 .title-img{
        position: absolute;
        top: -2%;
    }
    /* transport */
    #transport .title-img{
        position: absolute;
        top: 2%;
    }
    #transport .slide-window .button .content{
        position: absolute;
        top: 35%;
        left: 25%;
    }
    .video-content{
        padding: 100px 350px;
    }
    /* theme */
    #theme .tab-area{
        margin-top: 200px;
    }
    #theme .title-img{
        position: absolute;
        top: -3.8%;
    }
    #theme .tab-content{
        margin-top: 80px;
    }
    #theme .panel-heading .content{
        padding: 11% 15px 10px 15px;
    }
    .arrow-down{
        position: absolute;
        bottom: 25px;
        left: 1480px;
    }
    /* expert */
    #expert .daytour .description{
        padding-bottom: 21px;
    }
    #expert .slide-window .button .content{
        width: 60%;
        position: absolute;
        top: 30%;
        left: 20%;
    }
    /* season */
    #season .container{
        padding-top: 150px;
    }
    #season .title-img{
        position: absolute;
        top: -9.9%;
        left: 0;
    }
    #season .tab-content .event .content{
        width: 450px;
        height: 450px;
        margin-top: 45%;
    }
    #season .tab-content .event:hover .content{
        width: 650px;
        height: 650px;
        padding: 150px 50px 0px 50px;
        transform: translate(-12%, -55%);
    }
}
@media (max-width: 1024px){
    /* header */
    .absolute-header{
        position: absolute;
        top: 1078px;
    }
    .banner .logo {
        position: absolute;
        top: 20px;
        left: 45px;
    }
    /* menu */
    #menu ul {
        padding: 10px 20px;
    }
    #menu ul li {
        margin: 10px 15px;
    }
    /* basic-info */
    .intro-text {
        padding: 60px 0px 60px 60px;
    }
    #basic-info .half-bg {
        height: 32vh;
    }
    #basic-info ul {
        padding: 0px 0px 0px 30px;
    }
    #basic-info ul li {
        width: 13%;
    }
    /* top5 */
    .cascading-tab {
        margin-top: 110px;
    }
    #top5 .half-bg {
        height: 30vh;
    }
    .ctg-content {
        width: 49.4%;
        padding: 31% 20px 10px 20px;
    }
    /* transport */
    #transport .title-img {
        position: absolute;
        top: 6%;
    }
    #transport .slide-window .button .content {
        position: absolute;
        top: 21%;
        left: 6%;
    }
    .picture-gallery {
        padding-bottom: 200px;
    }
    .picture-gallery .carousel-indicators {
        bottom: -200px !important;
    }
    #transport .modal-body ul {
        width: 55%;
    }
    #transport .modal-body .row {
        width: 70%;
    }
    #trans03 .modal-body .row {
        width: 95%;
    }
    #transport .video {
        height: 750px;
    }
    .video-content {
        padding: 100px 95px;
    }
    .video-content .player {
        float: none;
        width: 100%;
    }
    .video-content .player iframe {
        width: 840px;
        height: 472.5px;
    }
    .video-content .playlist {
        float: none;
        width: 100%;
    }
    .video-content .playlist ul{
        display: block;
        overflow: auto;
        white-space: nowrap;
    }
    .video-content .playlist ul li {
        display: inline-block;
        margin: 25px 10px;
    }
    .video-content .playlist ul li i {
        margin-left: 25px;
    }
    /* theme */
    #theme .title-img {
        position: absolute;
        top: -4%;
        left: -1%;
    }
    #theme .nav-tabs {
        width: 90%;
    }
    #theme .nav-tabs > li {
        height: 220px;
    }
    #theme .panel-group {
        width: 90%;
    }
    #theme .panel-heading .content {
        padding: 10% 15px 10px 15px;
    }
    #theme .panel-heading .content p {
        width: 90%;
    }
    .arrow-down{
        position: absolute;
        bottom: 25px;
        left: 860px;
    }
    /* expert */
    .half {
        width: 100%;
        text-align: center;
    }
    #expert .button h4 {
        font-size: 24px;
    }
    #expert .slide-window .button .content {
        position: absolute;
        top: 30%;
        left: 20%;
    }
    #expert .modal{
        text-align: left;
    }
    /* season */
    #season .title-img {
        position: absolute;
        top: -4.85%;
        left: 0;
    }
    #season .tab-content .event {
        width: 50%;
        height: 450px;
    }
    #season .tab-content .event .content {
        width: 400px;
        height: 400px;
    }
    #season .tab-content .event:hover .content {
        width: 700px;
        height: 700px;
        transform: translate(-13%, -60%);
    }
}
@media (max-width: 768px){
    /* header */
    .absolute-header{
        position: absolute;
        top: 810px;
    }
    /* menu */
    #menu .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    #menu > .container > ul{
        display: none;
    }
    .toggle-menu{
        display: block;
        padding: 10px 30px;
        position: relative;
    }
    #menu .logo {
        width: 15%;
        margin-top: 10px;
    }
    .toggle-menu .button{
        float: right;
        margin-top: 10px;
    }
    .toggle-menu .content{
        width: 100%;
        background-color: white;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 99;
        box-shadow: 0 4px 5px -5px rgba(0,0,0,0.5);
    }
    #menu ul li {
        float: none;
        font-size: 24px;
    }
    /* basic-info */
    .intro-pic {
        float: none;
        width: 100%;
        margin-left: -55px;
    }
    .intro-text {
        float: none;
        width: 100%;
        text-align: center;
        padding: 60px;
    }
    #basic-info .half-bg {
        height: 68vh;
    }
    #basic-info ul{
        width: 90%;
        padding-inline-start: 0px;
    }
    #basic-info ul li {
        width: 100%;
        margin: 10px 0px;
    }
    #basic-info ul li .image {
        float: left;
        width: 30%;
        margin-bottom: 10px;
    }
    #basic-info ul li .text{
        float: right;
        width: 70%;
        text-align: left;
    }
    /* top5 */
    #top5 .container{
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    #top5 .title-img {
        position: absolute;
        top: 2%;
    }
    .category {
        width: 12%;
    }
    .category.active {
        width: 76%;
    }
    .ctg-content {
        width: 50%;
        margin: 0px;
        padding: 38% 20px 10px 20px;
    }
    /* transport */
    #transport .title-img.pc{
        display: none;
    }
    #transport .title-img.mobile{
        display: block;
    }
    #transport .title-img {
        position: absolute;
        top: -6%;
        left: -1%;
    }
    #transport .slide-window .button {
        width: 100%;
        padding: 20% 0%;
    }
    #transport .slide-window .button::before {
        background-position: center 80%;
    }
    #transport .slide-window .button .content {
        position: absolute;
        top: 21%;
        left: 30%;
    }
    #transport .modal-body .map {
        width: 70%;
    }
    .picture-gallery {
        width: 70%;
    }
    #transport .modal-body .row {
        width: 90%;
    }
    #transport .video {
        height: 560px;
    }
    .video-content {
        padding: 50px 50px;
    }
    .video-content .player iframe {
        width: 672px;
        height: 378px;
    }
    /* theme */
    #theme .title-img {
        position: absolute;
        top: -3.6%;
    }
    #theme .tab-area {
        margin-top: 0px;
    }
    #theme .nav-tabs > li {
        width: 45%;
        margin: 6% 2%;
    }
    #theme .desciption {
        width: 90%;
        padding: 50px 40px;
    }
    #theme .panel-group {
        width: 100%;
    }
    #theme .panel-group .panel {
        margin-bottom: 0px !important;
    }
    #theme .panel-body p {
        width: 100%;
    }
    #theme .panel-body img {
        width: 100%;
    }
    .arrow-down {
        position: absolute;
        bottom: 25px;
        left: 720px;
    }
    .video-carousel .owl-carousel .owl-video-play-icon {
        position: absolute;
        left: 50% !important;
        top: 50% !important;
    }
    /* expert */
    #expert .title-img.pc{
        display: none;
    }
    #expert .title-img.mobile{
        display: block;
    }
    #expert .title-img {
        width: 50%;
    }
    .half {
        padding: 100px 20px 100px 20px;
    }
    .half.suburbs{
        padding: 300px 20px 100px 20px;
    }
    #expert .modal-body p {
        width: 100%;
    }
    #expert .modal-body img {
        width: 100%;
    }
    /* season */
    #season .title-img.pc{
        display: none;
    }
    #season .title-img.mobile{
        display: block;
    }
    #season .title-img {
        width: 90%;
        position: absolute;
        top: -5.5%;
    }
    #season .nav-tabs > li {
        width: 50%;
    }
    #season .tab-content .event {
        height: 350px;
    }
    #season .tab-content .event .content {
        width: 350px;
        height: 350px;
        margin-top: 55%;
    }
    #season .tab-content .event:hover .content {
        transform: translate(-22%, -50%);
    }
    /* footer */
    .sns{
        padding-inline-start: 0px;
    }

}
@media (max-width: 480px){
    .hide-content{
        display: none;
    }
    /* header */
    .banner .logo {
        display: none;
    }
    .absolute-header{
        position: absolute;
        top: 620px;
    }
    /* menu */
    #menu {
        height: 70px;
    }
    #menu .logo {
        width: 25%;
    }
    .toggle-menu {
        padding: 10px 20px;
    }
    .toggle-menu .content {
        position: absolute;
        top: 69px;
    }
    #menu ul li a {
        font-size: 18px;
    }
    /* basic-info */
    .intro-pic {
        height: 250px;
        margin-left: -30px;
    }
    .intro-text {
        padding: 30px;
    }
    .intro-text p br{
        display: none;
    }
    #basic-info .half-bg {
        height: 95vh;
    }
    #basic-info ul li img {
        width: 40%;
        margin-top: 10px;
    }
    /* top5 */
    #top5 .title-img {
        width: 90%;
        position: absolute;
        top: 4%;
    }
    #top5 .tab-content {
        padding: 0 30px 30px 30px;
    }
    .ctg-content {
        padding: 20% 20px 10px 20px;
    }
    .tab-title {
        position: relative;
        top: 50px;
        left: 10px;
    }
    .tab-title.active {
        font-size: 32px;
    }
    .category {
        height: 350px;
    }
    .ctg-content {
        width: 100%;
        height: 250px;
    }
    .ctg-content::before {
        height: 100%;
    }
    /* transport */
    #transport .title-img {
        position: absolute;
        top: -9%;
    }
    #transport .slide-window {
        margin-top: 50px;
    }
    #transport .slide-window .button {
        padding: 22% 0%;
    }
    #transport .slide-window .button::after{
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
    }
    #transport .slide-window .button .content {
        position: absolute;
        top: 12%;
        left: 16%;
    }
    #transport .slide-window .button .content img {
        width: 25%;
    }
    #transport .slide-window .button .content h3 {
        margin-top: 10px;
    }
    #transport .modal-body {
        padding: 0px 0px;
    }
    #transport .modal-body .map {
        width: 90%;
    }
    .picture-gallery {
        width: 90%;
    }
    .picture-gallery .carousel-indicators li {
        width: 80px !important;
        height: 70px !important;
    }
    .picture-gallery .carousel-indicators {
        bottom: -170px !important;
    }
    #transport .modal-body ul {
        width: 90%;
        padding-inline-start: 0px;
    }
    #transport .modal-body .product {
        margin-bottom: 20px;
    }
    #transport .btn-default, #expert .btn-default {
        width: 30%;
    }
    .video-content {
        padding: 50px 40px;
    }
    .video-content .player iframe {
        width: 336px;
        height: 189px;
    }
    .video-content .playlist ul li p {
        float: none;
    }
    .video-content .playlist ul li i {
        float: none;
    }
    #transport .video {
        height: 420px;
    }
    /* theme */
    #theme .title-img {
        width: 90%;
        position: absolute;
        top: -4.9%;
    }
    #theme .nav-tabs {
        width: 100%;
        padding-inline-start: 10px;
    }
    #theme .nav-tabs > li {
        margin: 2% 2%;
        height: 180px;
    }
    #theme .desciption {
        padding: 30px;
    }
    #theme .panel-heading .content {
        height: 150px;
        padding: 5% 15px 10px 15px;
    }
    #theme .panel-heading .content h3 {
        line-height: 1.5;
    }
    .arrow-down {
        width: 10px;
        height: 10px;
        position: absolute;
        bottom: 10px;
        left: 210px;
    }
    #theme .panel-body {
        padding: 30px !important;
    }
    .video-carousel .owl-carousel .item-video {
        height: 300px;
    }
    .video-carousel .owl-carousel .item-video h3 {
        position: absolute;
        bottom: 2%;
        left: 5%;
        font-size: 18px;
    }
    .video-carousel .owl-carousel .owl-nav.disabled {
        display: none !important;
    }
    /* expert */
    #expert .title-img {
        width: 70%;
    }
    .half.suburbs {
        padding: 200px 20px 100px 20px;
    }
    #expert .button h4 {
        font-size: 18px;
    }
    #expert .slide-window .button .content {
        width: 90%;
        position: absolute;
        top: 8%;
        left: 6%;
    }
    #expert .modal-header .content {
        margin: 15% 0 0px 0px;
    }
    #expert .modal-body {
        padding: 30px !important;
    }
    #expert .modal-body iframe {
        margin-top: 30px;
        width: 336px;
        height: 189px;
    }
    /* season */
    #season .container {
        padding-top: 30px;
    }
    #season .title-img {
        position: absolute;
        top: -3.2%;
    }
    #season .tab-content .event {
        width: 100%;
    }
    #season .tab-content .event .content {
        margin-top: 50%;
    }
    /* footer */
    footer .logo {
        width: 22%;
    }
    .sns {
        margin-left: 15%;
    }

}
@media (max-width: 384px){
    /* header */
    .absolute-header{
        position: absolute;
        top: 533px;
    }
    /* basic-info */
    #basic-info .half-bg {
        height: 120vh;
    }
    /* transport */
    #transport .slide-window .button .content {
        position: absolute;
        top: 10%;
        left: 14%;
    }
    .picture-gallery .carousel-indicators {
        bottom: -250px !important;
    }
    .video-content {
        padding: 50px 25px;
    }
    /* theme */
    #theme .title-img {
        position: absolute;
        top: -4.7%;
    }
    #theme .desciption {
        padding: 20px;
    }
    .arrow-down {
        position: absolute;
        bottom: 10px;
        left: 190px;
    }
    #expert .slide-window .button {
        padding: 20% 0%;
    }
    /* season */
    #season .title-img {
        position: absolute;
        top: -3.6%;
    }
    #season .tab-content .event {
        height: 320px;
    }
    #season .tab-content .event:hover .content {
        transform: translate(-22%, -48%);
    }
    /* footer */
    .sns {
        margin-left: 12%;
    }
}
@media (max-width: 375px){
    /* header */
    .absolute-header{
        position: absolute;
        top: 562px;
    }
    /* basic-info */
    #basic-info .half-bg {
        height: 115vh;
    }
    /* transport */
    #transport .title-img {
        position: absolute;
        top: -9.5%;
    }
    #transport .slide-window .button .content {
        position: absolute;
        top: 8%;
        left: 12%;
    }
    .video-content {
        padding: 50px 20px;
    }
    /* theme */
    #theme .title-img {
        position: absolute;
        top: -4.9%;
    }
    #theme .nav-tabs > li {
        height: 170px;
    }
    /* season */
    #season .title-img {
        position: absolute;
        top: -3.9%;
    }
    #season .tab-content .event:hover .content {
        transform: translate(-23%, -48%);
    }
}
@media (max-width: 360px){
    /* header */
    .absolute-header{
        position: absolute;
        top: 539px;
    }
    /* transport */
    .video-content {
        padding: 50px 12px;
    }
    /* season */
    #season .title-img {
        position: absolute;
        top: -3.4%;
    }
    #season .tab-content .event:hover .content {
        width: 600px;
        height: 600px;
        transform: translate(-20%, -54%);
    }
    /* footer */
    .sns {
        margin-left: 8%;
    }
}
@media (max-width: 320px){
    /* header */
    .absolute-header{
        position: absolute;
        top: 478px;
    }
    /* basic-info */
    .intro-text {
        padding: 20px;
    }
    .intro-text p {
        line-height: 2;
    }
    #basic-info .half-bg {
        height: 135vh;
    }
    /* top5 */
    .tab-title.active {
        font-size: 28px;
    }
    #top5 .tab-content h3{
        font-size: 20px;
    }
    #top5 .tab-content p{
        font-size: 12px;
    }
    .category {
        height: 300px;
    }
    .tab-title {
        position: relative;
        top: 50px;
        left: 8px;
        font-size: 20px;
    }
    .ctg-content {
        height: 200px;
    }
    .ctg-content h3{
        font-size: 20px;
    }
    .ctg-content p{
        font-size: 12px;
    }
    /* transport */
    #transport .title-img {
        position: absolute;
        top: -10.6%;
    }
    #transport .slide-window {
        margin-top: 10px;
    }
    #transport .slide-window .button {
        padding: 23% 0%;
    }
    #transport .slide-window .button .content {
        position: absolute;
        top: 8%;
        left: 5%;
    }
    #transport .slide-window .button .content img {
        width: 20%;
    }
    #transport .slide-window .button .content h3{
        font-size: 20px;
    }
    #transport .modal-header img {
        width: 40px;
    }
    #transport .modal-header h4 {
        font-size: 24px;
    }
    .video-content .player iframe {
        width: 280px;
        height: 157.5px;
    }
    .video-content {
        padding: 50px 20px;
    }
    .video-content .playlist ul li p {
        font-size: 14px;
    }
    .video-content .playlist ul li i {
        font-size: 26px;
    }
    #transport .video {
        height: 360px;
    }
    /* theme */
    #theme .title-img {
        position: absolute;
        top: -4.7%;
    }
    #theme .nav-tabs > li {
        height: 150px;
    }
    #theme .nav-tabs > li > a {
        font-size: 14px;
    }
    #theme .desciption {
        font-size: 12px;
    }
    #theme .panel-heading a ul li {
        font-size: 12px;
    }
    #theme .panel-heading .content h3 {
        font-size: 14px !important;
    }
    .arrow-down {
        position: absolute;
        bottom: 10px;
        left: 160px;
    }
    #theme .panel-body {
        font-size: 12px;
    }
    #theme .panel-body img {
        margin: 20px 0px;
    }
    .video-carousel .owl-carousel .item-video {
        height: 250px;
    }
    .video-carousel .owl-carousel .item-video h3 {
        font-size: 14px;
    }
    /* expert */
    .half h3{
        font-size: 20px;
    }
    .half h3::after {
        border-left: 21px solid rgba(255,255,255,0.9);
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        border-right: 21px solid transparent;
        position: absolute;
        right: -42px;
        top: 0;
    }
    .half .description {
        font-size: 12px;
    }
    #expert .button h4 {
        font-size: 14px;
    }
    #expert .modal-header h4 {
        font-size: 14px;
    }
    #expert .modal-body p {
        font-size: 12px;
    }
    #expert .modal-body img {
        margin: 20px 0px;
    }
    #expert .modal-body .list {
        margin-top: 50px;
        font-size: 12px;
    }
    #expert .modal-body iframe {
        width: 280px;
        height: 157.5px;
        margin-left: -12px;
    }
    /* season */
    #season .title-img {
        position: absolute;
        top: -3.9%;
    }
    #season .tab-content .event .content {
        width: 300px;
        height: 300px;
        margin-top: 60%;
    }
    #season .tab-content .event:hover .content {
        width: 550px;
        height: 550px;
        transform: translate(-20%, -62%);
    }
    #season .tab-content .event .content h4{
        font-size: 16px;
        margin-bottom: 20px;
    }
    #season .tab-content .event .content p, #season .tab-content .event .content ul {
        font-size: 12px;
    }
    /* footer */
    .sns {
        margin-left: 27%;
        width: 60%;
    }
    .sns li {
        margin: 5px;
    }
}

/* disable hover on touch screen */
@media (hover:none), 
(hover:on-demand) {
    #transport .slide-window .button:hover:before{
        transform: none;
    }
    #transport .slide-window .button:hover:after{
        display: block;
    }
    .slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft {
        width: 0px;
        transition-delay: 0s;
        background-color: transparent;
    }
    .slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft:before{
        width: 0px;
        transition-delay: 0s;
        background-color: transparent;
    }
    .slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft:before {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    .slide-window .button:hover .animated-arrow > .the-arrow.-left > .shaft:after {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    .slide-window .button:hover .animated-arrow > .main {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    .slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft {
        width: 0;
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        transition-delay: 0;
    }
    .slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft:before, 
    .slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft:after{
        width: 0;
        transition-delay: 0;
        transition: all 0s;
    }
    .slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft:before {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    .slide-window .button:hover .animated-arrow > .main > .the-arrow.-right > .shaft:after {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    .slide-window .button:hover .animated-arrow > .main > .text{
        display: none;
    }
}